<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schema.android.com/apk/res/android" id="me.lockate.plugins.curve25519.tests" version="1.0.0">
	<name>Curve25519 Tests</name>
	<description>
		Test vectors for me.lockate.plugins.curve25519
	</description>

	<license>MIT</license>
	<keywords>curve25519,ecdh,ecc,elliptic,curve,dh,key,exchange</keywords>
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module name="tests" src="tests.js">
	</js-module>
</plugin>
